{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "endOfLine": "lf",
  "importOrder": [
    "^react",
    "<THIRD_PARTY_MODULES>",
    "(?:[.@])/api(?!\\/interface)(?!.*types)",
    "(?:[.@])/(hooks|stores)(?!\\/interface)(?!.*types)",
    "(?:[.@])/(components|views)(?!\\/interface)(?!.*types)",
    "(?:[.@])/(utilities|constants)(?!\\/interface)(?!.*types)",
    "(?:[.@])/form-schemas(?!\\/interface)(?!.*types)",
    "(?:[.@])/adapters(?!\\/interface)(?!.*types)",
    "(?:[.@])/dti(?!\\/interface)(?!.*types)",
    "(?:[.@])/(interface|.*\\/interface|types|.*types)",
    "(?:[.@])/styles"
  ],
  "importOrderSeparation": true,
  "importOrderCaseInsensitive": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
